<!doctype html>
<html>
<head><meta charset="utf-8"><title>Burgh Event Planner</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="main">
  {% include "_price_notice.html" %}
  <h1>Welcome to Burgh Event Planner</h1>
  <p>Choose an option:</p>

  <ol>
    <li><a href="/wizard/budget">Generate event suggestions</a></li>
    <li><a href="/suggestions">View generated suggestions</a></li>
    <li><a href="/exit">Exit</a></li>
  </ol>

  {% if message %}
    <p><strong>{{ message }}</strong></p>
  {% endif %}
</div>
</body>
</html>
